[Desktop Entry]
Version=1.0
Type=Application

Name=OpenIoTHub
Name[zh_CN]=OpenList
Comment=OpenList flatpak app
Comment[zh_CN]=OpenList Linux桌面版
Categories=Network;

Icon=com.github.OpenListApp
Exec=openlist
Terminal=false
StartupWMClass=openlist