[Desktop Entry]
Name=OpenListApp
Name[zh_CN]=OpenListApp
Comment=OpenListApp for AList or OpenList
Comment[zh_CN]=OpenListApp Linux桌面版
Exec=openlist
Icon=${SNAP}/meta/gui/1list.png
Terminal=false
Type=Application
Categories=Network;
